<section class="flex gap-1 w-full border border-1 border-red bg-PrimaryColor p-5 h-screen">
	<div class="w-1/2">
		<app-auth-side-image></app-auth-side-image>
	</div>
	<div class="w-1/2 text-White p-36">
		<header class="mb-20">
			<h1 class="text-[32px] font-semibold">Reset Password</h1>
			<p class="text-grey">Enter your user details below..</p>
		</header>
	

			<app-spinner-component *ngIf="isLoading"></app-spinner-component>
	
		<form [formGroup]="forgotPasswordfrom" (ngSubmit)="resetPassword()">
			<label for="">Email</label>
			<input type="email" class="w-full py-[20px] px-[40px] rounded-md my-5 bg-TertiaryColor"
				placeholder="Enter email" formControlName="email"> <br>
		
			<app-auth-btn title="Submit"></app-auth-btn>
		</form>

	</div>
</section>